{% extends "base.html" %}
{% block title %}Register – HS StrokeApp{% endblock %}

{% block content %}

<h2 class="fw-bold text-center mb-4">Create an Account</h2>

<div class="col-md-6 mx-auto">
    <div class="card shadow p-4">

        <form method="POST">
            {{ form.hidden_tag() }}

            <div class="mb-3">
                {{ form.email.label }}
                {{ form.email(class="form-control") }}
            </div>

            <div class="mb-3">
                {{ form.password.label }}
                {{ form.password(class="form-control") }}
            </div>

            <div class="mb-3">
                {{ form.confirm_password.label }}
                {{ form.confirm_password(class="form-control") }}
            </div>

            <button class="btn btn-success w-100 fw-semibold">Create Account</button>
        </form>

    </div>
</div>

{% endblock %}
